*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}

:root{
  --bg-color: #121818;
  --restart-bg-color: #498afb;
  --btn-color: #8a001e;
  --btn-hover-color: #ff3660;
  --playerX-color:  #09c372;
  --playerO-color:  #498afb;
  --title-color: #fff;
  --tile-color: #fff;
}

body{
  background-color: var(--bg-color);
}

.main{
  height: calc(100vh - 50px);
  padding-top: 1px;
}

.title{
  color: var(--title-color);
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

.display{
  color: var(--title-color);
  font-size: 25px;
  text-align: center;
  margin-block: 1em;
}

.display-player.playerX::before{content: "X";}

.display-player.playerO::before{content: "O";}

.hide{display: none;}

.container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3 ,33%);
  grid-template-rows: repeat(3 ,33%);
  max-width: 300px;
}

.tile{
  border: 2px solid var(--tile-color);
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.tile:nth-child(1),
.tile:nth-child(4),
.tile:nth-child(7){border-left: none;}

.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(3){border-top: none;}

.tile:nth-child(3),
.tile:nth-child(6),
.tile:nth-child(9){border-right: none;}

.tile:nth-child(7),
.tile:nth-child(8),
.tile:nth-child(9){border-bottom: none;}

.playerX{color: var(--playerX-color);}

.playerO{color: var(--playerO-color);}

.tile:is(.playerO, .playerX)::before{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.playerX::before{content: "X";}

.tile.playerO::before{content: "O";}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.controls .reset{
  color: var(--title-color);
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.restart{background-color: var(--restart-bg-color);}

.reset{
  background-color: var(--btn-color);
  transition: .3s ease;
}

.reset:hover{background-color: var(--btn-hover-color);}

footer, .link{
  color: var(--title-color);
  text-decoration: none;
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  font-size: 25px;
}




